In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [3]:
from Rec_Engine.text_rec import RecommendationSystem

In [4]:
test_class = RecommendationSystem('wc_teams.csv')

In [5]:
matrix = test_class.populate()
test_class.generate_similarity(matrix)

((0.999999999999962,
  'United_States',
  0.04496156283698449,
  'Switzerland',
  0.04366393350633942,
  'Peru',
  0.043520486662234195,
  'Sweden'),
 'United_States,Switzerland,Peru,Sweden')

In [6]:
df = pd.read_csv('similar_text_matrix.csv')

In [15]:
df.loc[df['self_id'] == 'United_States']

          self_id          id1   id2     id3
32  United_States  Switzerland  Peru  Sweden